.header__link_type_logout {
  align-items: center;
}
.header__link_type_logout:after {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.header_theme_dark .header__link_type_logout:after {
  content: url(../../../../../images/logout-white.svg);
}
.header_theme_light .header__link_type_logout:after {
  content: url(../../../../../images/logout-black.svg);
}
