@import url("./_type/_remove/article__mark_type_remove.css");
@import url("./_type/_save/article__mark_type_save.css");

.article__mark {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px 14px 10px 11px;
  margin-left: 5px;
  border-radius: 8px;
  outline: none;
}
.article__mark:focus {
  outline: 2px outset #2f71e5;
}
