.mobile-menu__container {
  position: fixed;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 330px;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.2s;
  overflow: hidden;
  background-color: #1a1b22;
  border-radius: 16px;
  border-color: #fff;
}
