.footer__nav-menu {
  list-style: inherit;
  display: inline-flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__nav-menu {
    flex-direction: column;
    line-height: 48px;
    align-items: flex-start;
  }
}
