/* Roboto 400, 500, 900 */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    local('Roboto-Regular'),
    url('Roboto.woff2') format('woff2'),
    url('Roboto.woff') format('woff'),
    url('Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'),
    local('Roboto-Medium'),
    url('Robotomedium.woff2') format('woff2'),
    url('Robotomedium.woff') format('woff'),
    url('Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'),
    local('Roboto-Black'),
    url('Robotoblack.woff2') format('woff2'),
    url('Robotoblack.woff') format('woff'),
    url('Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Roboto Slab */
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('Robotoslabregular.woff2') format('woff2'), url('Robotoslabregular.woff') format('woff'), url('Robotoslabregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Inter regular */
@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'), url('Interregular.woff2') format('woff2'), url('Interregular.woff') format('woff'), url('Interregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:400;
  src:url(../vendor/roboto-regular.woff) format("woff")
 } */
/* @font-face {
  font-family:Roboto Slab;
  font-style:normal;
  font-weight:400;
  src:url(../vendor/robotoslab-regular.woff) format("woff")
 } */
/* @font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:900;
  src:url(../vendor/roboto-black.woff) format("woff")
 } */
/* @font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:500;
  src:url(../vendor/Robotomedium.woff2) format("woff2")
 } */
/* @font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:400;
  src:url(../vendor/inter-regular.woff) format("woff")
 } */
/* @font-face {
  font-family:Source Sans Pro;
  font-style:normal;
  font-weight:600;
  src:url(../vendor/sourcesanspro-regular.woff) format("woff")
 } */
@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('sourcesanspro.woff2') format('woff2'), url('sourcesanspro.woff') format('woff'), url('sourcesanspro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}